@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

$base03: #1c1c1c; // background
$base02: #262626; // background highlights
$base01: #585858; // comments/secondary content
$base0: #626262; //
$base00: #808080; // body text/default
$base1: #8a8a8a; // optional emphasized content
$base2: #e4e4e4;
$base3: #ffffd7;
$yellow:	#af8700;
$orange:	#d75f00;
$red:	#d70000;
$magenta:	#af005f;
$violet:	#5f5faf;
$blue:	#0087ff;
$cyan:	#00afaf;
$green:#5f8700;
$navi: #21374B;
$background-color: $base03;
$body-background-color: $base03;
$primary: $navi;

@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';

body {
  background-color: $base03;
  text-align: center;
  color: $base00;
  .navbar {
    background: $navi;
    color: $base1;
    height: 65px;
    padding-top: 10px;
  }
  .image {
    margin: auto;
    align: middle;
    object-fit: contain;
    height: 50%;
    width: 50%;
    padding-top: 10px;
  }
  .tile, .box {
    object-fit: contain;
    background-color: $base02;
    color: $base00;
  }
  .title {
    color: $base2;
  }
  .subtitle {
    color: $base00;
  }
  .navbar-item {
    color: $base00;
  }
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  .footer {
    background-color: $base02;
  }
  .button {
    $info: $base03;
  }
}

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
// @import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/components/menu";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/elements/image";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";